body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.cabecalho {
    background-image: url("../Images/bg-3.jpg");
    height: 50vh;
    background-size: cover;
    background-position: right center;
    color: white;
    padding-top: 1px;
}

.cabecalho-conteudo {
    text-align: center;
    margin: 80px auto 0;
}

.cabecalho-conteudo h1 {
    font-size: 50px;
    text-shadow: -5px 5px 3px black;
    text-transform: uppercase;
}

.cabecalho-conteudo p {
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid;
}

.cabecalho nav ul {
    margin: 20px 50px 0 0;
    text-align: right;
}

.cabecalho nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 16px;
}

.cabecalho nav a{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.cabecalho nav a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

main{
    width: 60%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
}

section{
    padding-top: 32px;
}

article{
    background-color: white;
    padding: 16px;
    margin-bottom: 40px;
}

article h2{
    border-bottom: 2px solid black;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

article a{
    
}